@import 'variabler';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700&display=swap');


*{ 
    box-sizing: border-box;
}

.float-l-50{
    float: left;
    width: 50%;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
    header{
        @extend .float-l-50;
        padding: 1rem;

        nav{
            ul{
                padding: 0;
                margin: 0;

                li{
                    display: inline-block;
                }
            }
        }
        
        #logo{
            font-family: $logo-font;
        }


        #contact{
            background-color: $host-orange;
            padding: 1rem;
            float: right;
            
            &:hover{
                background-color: #000;
                color: #fff
            }
        }
    }
    
    main{
        @extend .float-l-50;
        padding: 1rem;
    }

    figure{
        float: right;
        width: 50%;
        margin: 0;
        
        img{
            width: 100%;
        }
    }

    footer{
        clear: both;
        padding: 1rem;
    }
}
